@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[url('/bground_menu.png')] bg-blend-darken
}


/*General Textbox Class*/
.text-label {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2
}
.text-box {
  @apply appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500 rounded-full
}

/* Menu styling */
.circle {
  width: 75px;
  height: 75px;
  padding: 60px; /* Add padding to each circle */
  margin-left: 60px; /* Add margin to create a horizontal gap */
}

.circle:nth-child(odd) {
  transform: translateY(-250px); /* Increase the distance between circles */
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 50%;
  filter: brightness(85%);
  transition: filter 0.3s ease-in-out;
  
}

.circle:hover img {
  filter: blur(2px); /* Adjust blur amount as needed */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
  height: 100vb; /* Center the line vertically */
}

.text-with-stroke {
  -webkit-text-stroke: 2px black; /* WebKit-based browsers like Chrome and Safari */
  text-stroke: 5px black; /* Standard syntax */
  color: white; /* Fill color of the text */
}
